
.static-page
  .contact-page
    .container

      - if @sent == true
        %h1 We look forward to working with you!
      - else
        %h1 See how we can work together

        .row
          .col-md-4.col-md-offset-2
            - if flash[:alert].present?
              .bs-callout.bs-callout-danger
                %h4= flash[:alert]
                %p.normal Name, email, and organization are required.

            = form_tag send_email_path do
              .form-group
                = label_tag :name, 'Your name'
                = text_field_tag :name, nil, class: 'form-control'
              .form-group
                = label_tag :email, 'Email'
                = email_field_tag :email, nil, class: 'form-control'
              .form-group
                = label_tag :company, 'Organization'
                = text_field_tag :company, nil, class: 'form-control'
              .form-group
                = label_tag :message, 'Message'
                = text_area_tag :message, nil, placeholder: "Optional", class: 'form-control', rows: 2
              = submit_tag 'Request a demo', class: 'btn btn-lg btn-primary btn-block'

          .col-md-5
            %blockquote.left.push-down
              %p &ldquo;Reliefwatch is a remarkable partner. Not only have we improved our operations, but we've increased the impact on our communities.&rdquo;
              %footer Shital, Global Brigades International
