
/ HOME
%section#home.home.section
  .container.text-center

    %h1.title Khizar Jafri

    %p.intro Perserving the Good. Building the Better. Living in the Best.
    .btns
      %a.btn.width.btn-cta-secondary.scrollto{ href: "#features" } Learn More
      %a.btn.width.btn-cta-primary.scrollto{ href: "#support" } Donate
    .meta
      %a.scrollto{ href: "#features" }
        %i.fa.fa-angle-down

/ FEATURES - How it works
%section#features.features.section
  .container.text-center
    %h2.title.text-center Who am I?
    = image_tag 'khizar.jpg', width: '50%', height: '30%'

    %p.intro.text-center
      Hi I’m Khizar and I’m your candidate for DuPage County board. I’ve been part of the DuPage community for nearly 30 years, growing up in Wheaton where I attended public school and graduated from Wheaton North High School. 
    %p.intro.text-center
      My formative education prepared me to obtain my business degree from Benedictine University with a concentration in International Business and Economics. I’ve gone on to hold professional positions with Fortune 500 businesses such as Caterpillar, RR Donnelley, and Dabur International utilizing my strategic planning, project management and corporate finance expertise to support these firms in maximizing their return on investment. 

    .row

      .item.col-md-6.col-sm-12
        .icon-holder
          %i.fa.fa-puzzle-piece
        .content
          %h3.sub-title Budget
          %p
            Balancing the budget is critical to any financial entity but what I will do different is find true waste in our government rather than cutting services crucial to the fabric of our society.

      .item.col-md-6.col-sm-12
        .icon-holder
          %i.fa.fa-bolt
        .content
          %h3.sub-title Drug War
          %p
            I will increase funding for a prevention awareness campaign but also push to provide information on how to access public and private services to get help for people who are addicted. Treat users as victims not as criminals. Work with schools, colleges, religious institutions, and non-for profit organizations to build a community support system for individuals and family members to combat this cancer.

      .item.col-md-6.col-sm-12
        .icon-holder
          %i.fa.fa-cloud
        .content
          %h3.sub-title Environment
          %p
            Continue to restore and maintain natural habitats in DuPage County. I will go one step forward and start pushing local government and business to promote environmentally friendly policies. Some ideas include: investment in a revamped public transportation systems and green energy credits for businesses promoting policies friendly to the environment. 

      .item.col-md-6.col-sm-12
        .icon-holder
          %i.fa.fa-bar-chart-o
        .content
          %h3.sub-title Engagement
          %p
            Government website listing events and policies is a good start, but I will go out on the ground and actively get people to come and inform them of the pending issues through forums, town hall meetings, and meet and greet programs. 

    .row
      .item.col-md-12.left
        .content
          %h3.sub-title Did You Know
          %p.left
            • DuPage County was once ranked as the 23rd most affluent county in the country in 2000, and now it is not even ranked in the top 50
          %p
            • Loss of Private Sector Employment since 2001- 22,645 jobs! 
          %p
            • Raising number of low- income person- Number of persons in poverty has grown by 149%
          %p
            • The average cost of an area's housing, which includes mortgage payments, apartment rents, and property tax Is more than 42% higher than the national average. 
          %p
            • $2.1 Million is the combined salary of 20 individuals in DuPage County government. 
          %p
            • $300,000 is spent on lobbyist to go down to Springfield and Washington to “represent the county”
          %p
            • Heroin DEATHS per MONTH in DuPage County- 4. Epidemic started six years ago and its only getting worse.
          %p
            • County Board currently consists of 16 members that are Republican and 2 members that are Democrats
/ REGIONS - Where we are
%section#issues.regions.section
  .row
    .container.text-center
      %h2.title Issues

      .row
        .content
          .para-width
            %h3.sub-title Balanced Budget
            %p
              Balanced Budget is important for any institutional entity- especially our local government. Credit is given where credit deserved. Current government has done a great job on balancing budget and maintaining triple AAA bond rating- allowing our local government to continue to refinance issued bonds at a lower interest rate. I am a finance and accounting consultant and have a career long experience in corporate finance. While I understand the importance and the value of balancing the budget, I understand the human cost. I do not support cutting vital and important services that the county provides in an attempt to balance the budget. In the long run it will cost the county more money. Instead I will expose wastage in government and fight to eliminate it as part of our savings.

          .para-width
            %h3.sub-title Heroin Epidemic 
            %p
              Started six years ago, the problem was brushed aside by the current administration until now. As a pragmatic leader, I will propose a joint public and private effort to eradicate this solution in an aggressive matter. I will reallocate appropriation to spend on awareness and information on how user can get help. This will require working with local religious and non-for profit organizations to get feet on the ground. I will work with schools and university in our community to proactively help teachers, counselors, and law enforcement help identify users and find ways to reach out them. Lastly, I will work with law enforcement agencies by giving them the resources to catch drug distributors- making DuPage County a very hostile environment for drug dealers.

          .para-width
            %h3.sub-title Transportation
            %p
              We need to change that for the sake of people who cannot afford to have cars but still need to find ways to get to work. We need to change that for the sake of attracting younger generation (increase tax base) who prefer public transportation. We need to change that for the sake of making DuPage County environmentally friendlier. I will attack this issue on two fronts: First, I will work with Pace and others to begin a campaign of informing the public of variety of public transportation opportunities; second, I will work with the private companies to reroute buses to accommodate user by having the stops be within one mile of their final destination.

          .para-width
            %h3.sub-title Community Outreach
            %p
              Current administration has done a poor job in reaching out to our municipalities within DuPage County. Both from an individual level and from a business level, DuPage County Board can do more to create synergies to help drive the idea of a lean and efficient government that actively provides services and quickly, preemptively responds to threats to our community. As a county board member I will work hard to develop relationships on a governmental level and personal level with the leaders of each municipal; help create a better environment for businesses to conduct business and individuals to express concerns or ideas. Help create a government that’s for the people. 

/ CONTACT
%section#support.contact.section
  .container
    .contact-inner

      %h2.title.text-center Contact

      %p.intro.text-center
        Fill out the form below to stay in touch:

      .row

        .col-md-4.col-md-offset-2
          #contact-success{ style: 'display: none' }
            %h4 Thanks for your message.
            %h5 Remember to vote!

          #contact-form
            #contact-failure{ style: 'display: none' }
              %h4 Oops, something went wrong!
              %h5 Name, email, organization, and request type are required.

            = form_tag send_email_path, remote: true do
              .form-group
                = label_tag :name, 'Your name'
                = text_field_tag :name, nil, class: 'form-control'
              .form-group
                = label_tag :email, 'Email'
                = email_field_tag :email, nil, class: 'form-control'
              .form-group
                = text_area_tag :message, nil, placeholder: "Let me know your thoughts! (Optional)", class: 'form-control', rows: 2
              = submit_tag 'Submit', data: { disable_with: "Sending..." }, class: 'btn btn-cta-primary'

        .col-md-4
          .content.text-center
            %h3
              %a.btn.btn-cta-secondary.white{ href: "https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=3Q4RK5SWZZ66W" } Donate
          %p.text-center
            We can't win this without your help!
