
/ HOME
%section#home.home.section
  .container.text-center

    %h1.title Khizar Jafri

    %p.intro Perserving the Good. Building the Better. Living in the Best.
    .btns
      %a.btn.width.btn-cta-secondary.scrollto{ href: "#features" } Learn More
      %a.btn.width.btn-cta-primary.scrollto{ href: "#support" } Donate
    .meta
      %a.scrollto{ href: "#features" }
        %i.fa.fa-angle-down

/ FEATURES - How it works
%section#features.features.section
  .container.text-center
    %h2.title.text-center Who am I?
    = image_tag 'khizar.jpg', width: '50%', height: '30%'

    %p.intro.text-center
      Hi I’m Khizar and I’m your candidate for DuPage County board. I’ve been part of the DuPage community for nearly 30 years, growing up in Wheaton where I attended public school and graduated from Wheaton North High School. 
    %p.intro.text-center
      My formative education prepared me to obtain my business degree from Benedictine University with a concentration in International Business and Economics. I’ve gone on to hold professional positions with Fortune 500 businesses such as Caterpillar, RR Donnelley, and Dabur International utilizing my strategic planning, project management and corporate finance expertise to support these firms in maximizing their return on investment. 

    .row

      .item.col-md-4.col-sm-12
        .icon-holder
          %i.fa.fa-puzzle-piece
        .content
          %h3.sub-title Budget
          %p
            Balance the budget, good. Reinvest in our community, better.

      .item.col-md-4.col-sm-12
        .icon-holder
          %i.fa.fa-bolt
        .content
          %h3.sub-title Drug War
          %p
            Educate about drug abuse, good. Provide emergency responders with Naloxone to save lives, better.

      .item.col-md-4.col-sm-12
        .icon-holder
          %i.fa.fa-cloud
        .content
          %h3.sub-title Environment
          %p
            Preserve natural habitat, good. Enhance and promote environmental friendly policies, better.

      .item.col-md-4.col-sm-12
        .icon-holder
          %i.fa.fa-bar-chart-o
        .content
          %h3.sub-title Engagement
          %p
            Government website listing events and policies, good. Actively reaching out to the community to get them engaged, better!

      .item.col-md-4.col-sm-12
        .icon-holder
          %i.fa.fa-globe
        .content
          %h3.sub-title Tax Rates
          %p
            Maintaining tax rates steady throughout the county, good. Reducing tax rates by finding efficient ways to consolidate government expenditure, better!

      .item.col-md-4.col-sm-12
        .icon-holder
          %i.fa.fa-smile-o
        .content
          %h3.sub-title Responsiveness
          %p
            Maintaining tax rates steady throughout the county, good. Reducing tax rates by finding efficient ways to consolidate government expenditure, better!

/ REGIONS - Where we are
%section#issues.regions.section
  .row
    .container.text-center
      %h2.title Issues

      .row
        .content
          .para-width
            %h3.sub-title Balanced Budget
            %p
              Balanced Budget is important for fiscal financial health, and I support the current board in their continued strive to achieve this goal 

          .para-width
            %h3.sub-title Public Safety 
            %p
              We have had a very safe community; current board has done a very good job in providing our officers the tools they need to fight crime.

          .para-width
            %h3.sub-title Financial Accountability
            %p
              Though our board has done many good things, there is still work that needs to be done. I will work to build a better DuPage county by focusing our efforts to improve the following areas: Optimizing use of DuPage County Funds: Making our money work smarter & better for the county and its citizens. Stronger Financial Accountability, holding wastage accountable. Smart consolidation of government expenditures. Wealth Acceleration: creating more high paying JOBS in the county 

          .para-width
            %h3.sub-title Business Development
            %p
              Incentive Companies to start their businesses in DuPage county while maintaining a healthy balance of suburbia. Reducing elaborate red type by working with local municipalities to stream line the process.   

          .para-width
            %h3.sub-title Social Services
            %p
              Aging/Senior Services- creating new and enhance existing services to provide a better living conditions for our elderly. Drug Addiction Education and providing life saving tools to emergency responders. Work with local charity group to boost their capacity to help 

          .para-width
            %h3.sub-title Open Government
            %p
              Reach out to to people by holding town halls once a quarter. 
              Open dialogue on issues that plague the county and come up with creative ways to resolve it 


/ CONTACT
%section#support.contact.section
  .container
    .contact-inner

      %h2.title.text-center Contact

      %p.intro.text-center
        Fill out the form below to stay in touch:

      .row

        .col-md-4.col-md-offset-2
          #contact-success{ style: 'display: none' }
            %h4 Thanks for your message.
            %h5 Remember to vote!

          #contact-form
            #contact-failure{ style: 'display: none' }
              %h4 Oops, something went wrong!
              %h5 Name, email, organization, and request type are required.

            = form_tag send_email_path, remote: true do
              .form-group
                = label_tag :name, 'Your name'
                = text_field_tag :name, nil, class: 'form-control'
              .form-group
                = label_tag :email, 'Email'
                = email_field_tag :email, nil, class: 'form-control'
              .form-group
                = text_area_tag :message, nil, placeholder: "Let me know your thoughts! (Optional)", class: 'form-control', rows: 2
              = submit_tag 'Submit', data: { disable_with: "Sending..." }, class: 'btn btn-cta-primary'

        .col-md-4
          .content.text-center
            %h3
              %a.btn.btn-cta-secondary.white{ href: "https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=3Q4RK5SWZZ66W" } Donate
          %p.text-center
            We can't win this without your help!
