
.static-page
  .hero-box.blue.pattern
    .container

      =image_tag "mobile-device-icons.png", class: 'hero'

      %h1 Track supplies &amp; diseases anywhere, on any device.

      %h4 Introducing Reliefwatch's simple software for health organizations in the developing world.

  .partner-box.hidded-sm.hidden-xs
    .container

      %h4 OUR PARTNERS

      = image_tag 'global-brigades.png', class: 'partner-logo'
      = image_tag 'impact-engine.png', class: 'partner-logo'
      = image_tag 'twilio.png', class: 'partner-logo'
      = image_tag 'microsoft.png', class: 'partner-logo'
      = image_tag '1871.png', class: 'partner-logo'
      = image_tag 'technori.png', class: 'partner-logo'
      = image_tag 'booth.png', class: 'partner-logo'

  .feature-box
    .container

      .row
        .col-md-5.col-md-offset-1
          %h2 Built for health organizations

          %p
            Reliefwatch's platform seamlessly tracks and optimizes your distribution. Our proprietary system integrates with the devices you already own.

        .col-md-5
          %h2 Simple, yet powerful

          %p
            Real impact requires many moving parts, but our technology helps keep it simple. Reliefwatch brings the latest big data analytics to your organization.

      .row
        .col-md-8.col-md-offset-2
          = image_tag 'diseases.png', class: 'img-responsive'

  .call-to-action-box.blue
    .container

      %h2 Ready to move beyond paper forms and spreadsheets?

      .col-md-4.col-md-offset-4

        = link_to contact_path, class: 'btn btn-lg btn-primary btn-block' do
          Request a demo
