
= nav_bar inverse: true do

  = link_to root_url do
    = image_tag 'Reliefwatch-logo-white.png', alt: 'Reliefwatch', class: 'logo'

  %span.hidden-sm.hidden-md.hidden-lg
    = menu_group :pull => :right do

      = drop_down "Menu" do
        = menu_item about_path do
          About
        = menu_item contact_path do
          Contact

        .sign-in
          Sign in

        = menu_item 'http://www.projectsam.net' do
          Global Brigades
        = menu_item 'http://projectsam-staging.herokuapp.com' do
          Heart to Heart

  %span.hidden-xs
    = menu_group :pull => :right do

      = menu_item about_path do
        About
      = menu_item contact_path do
        Contact

      = drop_down "Sign in" do
        = menu_item 'http://www.projectsam.net' do
          Global Brigades
        = menu_item 'http://projectsam-staging.herokuapp.com' do
          Heart to Heart
