!!! 5
/ Theme by Xiaoying Riley: http://themes.3rdwavemedia.com/website-templates/devaid-free-bootstrap-theme-developers/
/ Theme License: http://creativecommons.org/licenses/by/3.0/
/ Personnel icons by Simon Child: http://thenounproject.com/Simon%20Child/
%html
  %head
    %title Reliefwatch | Medical Inventory & Disease Tracking
    = stylesheet_link_tag "application", media: "all"
    %script{ :type => "text/javascript", :src  => "https://www.google.com/jsapi" }
    = javascript_include_tag "application"
    = favicon_link_tag "favicon.ico"
    %meta{ :content => "Reliefwatch is a cloud service for health clinics in the developing world to track medical supplies and disease cases using basic mobile phones.", :name => "description" }
    %meta{ :name => "viewport", :content => "initial-scale=1.0" }
    = csrf_meta_tags
    = render 'layouts/analytics'
  %body{ 'data-spy' => 'scroll' }
    .wrap

      = render 'layouts/navbar'
      = yield

    %footer.footer
      .container.text-center
        %small.copyright
          = "&copy; ".html_safe + Date.today.year.to_s + " Reliefwatch, Inc."
          &ndash;
          We're hiring!
