!!! 5
%html
  %head
    %title Reliefwatch | Medical Inventory & Disease Tracking
    = stylesheet_link_tag "application", media: "all"
    %script{ :type => "text/javascript", :src  => "https://www.google.com/jsapi" }
    = javascript_include_tag "application"
    = favicon_link_tag "favicon.ico"
    %meta{ :content => "Reliefwatch is a cloud platform for health clinics in the developing world to track medical supplies and disease cases through basic mobile phones.", :name => "description" }
    %meta{ :name => "viewport", :content => "initial-scale=1.0" }
    = csrf_meta_tags
    = render 'layouts/analytics'
  %body
    .wrap

      = render 'layouts/navbar'
      = yield

    %footer.footer
      .container

        .links
          = link_to "We're hiring", careers_path
          &ndash;
          = link_to 'Contact us', contact_path

        Copyright 2014 Project SAM, Inc.
