!!! 5
/ Original theme by Xiaoying Riley: http://themes.3rdwavemedia.com/website-templates/devaid-free-bootstrap-theme-developers/
/ Icons by factor[e] design initiative and Juan Pablo Bravo /
%html
  %head
    %title Khizar Jafri | County Board 
    %meta{ :name => "description", :content => "Khizar Jafri for DuPage County Board" }
    %meta{ :name => "viewport", :content => "initial-scale=1.0, user-scalable=no" }
    %meta{ :property => "og:title", :content => "Khizar Jafri | County Board" }

    %meta{ :property => "og:description", :content => "Khizar Jafri for DuPage County Board" }
    = csrf_meta_tags
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = render 'layouts/analytics'

  %body{ 'data-spy' => 'scroll' }
    .wrap
      = render 'layouts/navbar'
      = yield
      = render 'layouts/footer'
      = render 'layouts/modal'
