!!! 5
%html
  %head
    %title Reliefwatch
    = stylesheet_link_tag "application", media: "all"
    %script{ :type => "text/javascript", :src  => "https://www.google.com/jsapi" }
    = javascript_include_tag "application"
    = favicon_link_tag "favicon.ico"
    %meta{ :content => "Reliefwatch is a cloud platform for health clinics in the developing world to digitize their inventory using basic mobile phones. Founded by CEO Daniel Yu at the University of Chicago.", :name => "description" }
    %meta{ :name => "viewport", :content => "initial-scale=1.0" }
    = csrf_meta_tags
  %body
    .wrap

      = render 'layouts/navbar'
      = yield

    %footer.footer
      .container

        .links
          = link_to 'Contact us', contact_path

        Copyright 2014 Reliefwatch, Inc.
