!!! 5
/ Original theme by Xiaoying Riley: http://themes.3rdwavemedia.com/website-templates/devaid-free-bootstrap-theme-developers/
%html
  %head
    %title Reliefwatch | Track Supplies &amp; Diseases Anywhere
    = stylesheet_link_tag "application", media: "all"
    %script{ :type => "text/javascript", :src  => "https://www.google.com/jsapi" }
    = javascript_include_tag "application"
    = favicon_link_tag "favicon.ico"
    %meta{ :content => "We make simple software for health organizations in the developing world. Our inventory management system works in real-time using basic mobile phones.", :name => "description" }
    %meta{ :name => "viewport", :content => "initial-scale=1.0, user-scalable=no" }
    %meta{ :property => "og:title", :content => "Reliefwatch | Track Supplies & Diseases Anywhere" }
    %meta{ :property => "og:description", :content => "We make simple software for health organizations in the developing world. Our inventory management system works in real-time using basic mobile phones." }
    %meta{ :property => "og:image", :content => image_url('reliefwatch-og.png') }
    %meta{ :property => "og:url", :content => "http://www.reliefwatch.com" }
    = csrf_meta_tags
    = render 'layouts/analytics'
  %body{ 'data-spy' => 'scroll' }
    .wrap
      = render 'layouts/navbar'
      = yield
      = render 'layouts/footer'
      = render 'layouts/modal'
